@import url('https://fonts.googleapis.com/css?family=Lato400,700');

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgba(204, 230, 255, 0.7), rgba(204, 230, 255, 0.8)) , url(img/fundi.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  
}

.navbar {
  background-color: rgb(0, 0, 102);
  border-bottom: 0.5px solid white;
}

.navbar-nav {
  vertical-align: middle;
}

.nav-item {
  width: 130px;
}

.nav-link {
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.navbar a {
  font-size: 20px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  height: 74px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: cyan;
}

#Inicio {
  display: block;
  margin-top: -4px;
  height:89vh;
  position: relative;
}

#Inicio .carousel-inner {
  position: absolute;
  height: 100%;
}

#Inicio .carousel-inner .carousel-item {
  position: absolute;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

#Inicio .carousel-caption {
  z-index:10;
  width: 80%;
  height:240px;
  padding: 0px;
  vertical-align: middle;
  color:#fff;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#Inicio .carousel-caption h1 {
  line-height: 80px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 3rem;
}

.pusher {
  height: 95px;
}

.row1 {
  background-color: rgb(25,25,112);
  color: white;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  padding-right: 30px;
  text-align: right;
}

.row2 {
  height: 400px;
  background-color: #dcdcdc;
  position: relative;
  margin-bottom: 5px;
}

.texto h1 {
  text-align: center;
  padding-top: 10px;
}

.texto p {
  padding: 5px 15px;
  text-align: justify;
  font-size: 20px;
}

#slideshowChales {
  padding: 0px;
}

#carouselChales {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Chales {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Chales .carousel-item {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#row2-camping {
  position: relative;
}

#slideshowCamping {
  position: absolute;
  height: 100%;
  padding: 0px;
}

#carouselCamping {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Camping {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Camping .carousel-item {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#texto-camping {
  position: absolute;
  right: 0px;
}

#slideshowCamping {
  position: absolute;
  left: 0;
}

@media(max-width:992px) {
  
  .nav-item {
    width: 100%;
  }

  .pusher {
    height: 90px;
  }

  .row2 {
    height: 700px;
    border: 0.5px solid rgb(25,25,112);
  }

  .texto {
    padding: 10px;
    height: 300px;
  }

  .texto p {
    font-size: 1.5em;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 99%;
  }

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 99%;
  }

 


}



@media(max-width:576px) {

  .navbar-brand img {
    height: 54px;
  }

  .pusher {
    height: 60px;
  }

  .row1 {
    background-color: rgb(25,25,112);
    color: white;
    font-weight: bold;
    height: 40px;
    line-height: 35px;
    padding-top: 2.5px;
    font-size: 1.2em;
    padding-right: 0px;
    text-align: left;
    border-bottom: solid 0.5px white;
  }

  .row2 {
    height: 600px;
    border: none;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 98%;
  } 

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 98%;
  }

  .texto h1 {
    font-size: 1.5em;
  }

  .texto p {
      font-size: 0.8em;
      padding: 0px;
  }

  .texto {
    padding: 10px;
    height: 200px;
  }

}


@media(max-width:576px) {
  .navbar-brand img {
    height: 44px;
  }



}