@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgba(204, 230, 255, 0.7), rgba(204, 230, 255, 0.8)) , url(img/fundo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 300vh;
  background-attachment: fixed;
}



#navbar {
  background-color: #191970;
  border-bottom: 0.5px solid white;
}

#navbar .nav-item {
  width: 150px;
}

#navbar .nav-link {
  margin: auto;
  margin-bottom: auto;
  text-align: center;
}

#navbar a {
  font-size: 1.3rem;
  padding: 0;
  font-weight: bold;
}

#navbar .navbar-brand {
  padding: 0px;
}

#navbar .navbar-brand img {
  height: 74px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: cyan;
}

#Inicio {
  display: block;
  margin-top: -4px;
  height:89vh;
  position: relative;
}

#saudacao {
  position: absolute;
  height: 300px;
  z-index: 10;
  bottom: 30px;
  right: 50px;
}

#seta {
  position: absolute;
  height: 40px;
  bottom: 5px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

#Inicio .carousel-inner {
  position: absolute;
  height: 100%;
}

#Inicio .carousel-inner .carousel-item {
  position: absolute;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

#Inicio .carousel-caption {
  z-index:10;
  width: 80%;
  height:240px;
  padding: 0px;
  vertical-align: middle;
  color:#fff;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#Inicio .carousel-caption h1 {
  line-height: 80px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: -2px 2px black;
}

.pusher {
  height: 95px;
}

.row1 {
  background-color: rgb(25,25,112);
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  padding-right: 30px;
  text-align: right;
}

.row2 {
  height: 550px;
  background-color: rgba(220, 220, 220, 0.8);
  position: relative;
  margin-bottom: 5px;
}

.texto h1 {
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  padding-top: 10px;
}

.texto p {
  padding: 5px 15px;
  text-align: justify;
  font-size: 20px;
}

#row2-chales {
  position: relative;
  height: 700px;
}

#slideshowChales {
  position: absolute;
  background-color: rgba(209, 207, 207, 0.8);
  padding: 0px;
  height: 100%;
  right: 0;
}

#carouselChales {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Chales {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Chales .carousel-item {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#row2-camping {
  position: relative;
  height: 570px;
}

#slideshowCamping {
  position: absolute;
  background-color: rgba(209, 207, 207, 0.8);
  height: 100%;
  padding: 0px;
  left: 0px;
}

#carouselCamping {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Camping {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Camping .carousel-item {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#texto-camping {
  position: absolute;
  right: 0px;
}

#texto-aquatico {
  height: 150px;
  padding: 15px;
}


#slideshowAquatico {
  position: absolute;
  background-color: rgba(209, 207, 207, 0.8);
  height: 430px;
  width: 100%;
  padding: 0px;
  bottom: 5px;
}

#carouselAquatico {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Aquatico {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Aquatico .carousel-item {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#texto-aventuras {
  padding: 0;
  background-color: rgba(220, 220, 220, 0.8);
}

.gallery {
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.8);
}

footer .row {
  background-color: rgb(25,25,112);
  color: white;
  height: 200px;
  margin: 0px !important;
  padding-top: 0px !important;
}

.pt-4, .py-4 {
  padding-top: 10px !important;
}

.mt-3, .my-3 {
  position: relative;
  margin: 0px !important;
  padding-top: 10px !important;

}

#reservas p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0px !important;
}

#media {
  height: 200px;
  margin: 0px;
  padding: 0px;
  padding: 10px;
}

#logos {
  text-align: center;
}

#logos a {
  display: inline-block;
}

.logo {
  height: 60px;
  padding: 10px;
}

#medias-p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
}

#endereco-p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
}

#mapa-div {
  position: relative;
  padding: 0px;
}

#mapa {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  left: 0px;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.footer-copyright {
  padding: 3px !important;
  height: 20px;
  color: white;
  font-size: 0.7rem;
  background-color: rgb(16, 16, 75);
}

@media(max-width:992px) {
  
  #navbar .navbar-brand img {
    height: 44px;
  }

  #navbar .nav-item {
    width: 100%;
  }

  #saudacao {
    height: 200px;
  }

  .pusher {
    height: 50px;
  }

  .row2 {
    height: 620px;
  }

  .texto {
    padding: 10px;
    height: 220px;
  }

  .texto h1 {
    font-size: 1.8em;
  }

  .texto p {
    font-size: 1.2em;
  }

  #slideshowChales {
    bottom: 0;
    margin: 1%;
    width: 98%;
    height: 300px;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 100%;
  }

  #slideshowCamping {
    bottom: 0;
    margin: 1%;
    width: 98%;
    height: 300px;
  }

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 100%;

  }

  #row2-aquatico {
    height: 500px;
  }

  #texto-aquatico {
    height: 150px;
  }

  #slideshowAquatico {
    height: 300px;
  }

  #carouselAquatico {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
  }

  #texto-aventuras {
    height: 250px;
  }

}


@media(max-width:768px) {

  #saudacao {
    bottom: 50px;
  }

  footer .row {
    height: 475px;
  }

  #media {
    margin-bottom: 0 !important;
    height: 150px;
  }

  #mapa-div {
    height: 200px;
  }

  iframe {
    left: 0;
  }

}


@media(max-width:576px) {

  #navbar .navbar-brand img {
    height: 40px;
  }

  #navbar .nav-item {
    height: 2rem;
  }

  #navbar .navbar a {
    font-size: 1em;
  }

  #saudacao {
    height: 100px;
    right: 5px;
  }

  .pusher {
    height: 56px;
  }

  .row1 {
    background-color: rgb(25,25,112);
    color: white;
    font-weight: bold;
    height: 40px;
    line-height: 35px;
    padding-top: 2.5px;
    font-size: 1.2em;
    padding-right: 0px;
    text-align: left;
    border-bottom: solid 0.5px white;
  }

  .row2 {
    height: 620px;
    border: none;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 90%;
    margin: 5px 5%;
  } 

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 90%;
    margin: 5px 5%;
  }

  .texto h1 {
    font-size: 1.4em;
  }

  .texto p {
    font-size: 1.1em;
    padding: 0px;
  }

  .texto {
    padding: 10px;
    height: 200px;
  }

  #row2-aquatico {
    height: 550px;
  }

  #texto-aquatico {
    height: 180px;
  }

  #slideshowAquatico {
    height: 280px;
    width: 100%;
  }

  #carouselAquatico {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 99%;
  }
  
  footer .row {
    height: 500px;
  }

  #endereco-p {
    font-size: 0.9rem;
  }

}


@media(max-width:411px) {
  
  .row2 {
    height: 750px;
  }

  .texto {
    padding: 10px;
    height: 250px;
  }

  .texto p {
    font-size: 1.1em;
    padding: 0px;
  }

  #nav-tabs a {
    font-size: 0.8em;
  }

  #row2-chales {
    height: 750px;
  }

  #row2-camping {
    height: 650px;
  }

  #medias-p {
    font-size: 1rem;
  }

  #reservas p {
    font-size: 0.9rem;
  }

  .logo {
    height: 50px;
  }

}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {

  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    margin-top: -20px;
  }

}

@media (max-width: 400px) {

  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }


}

