@import url('https://fonts.googleapis.com/css?family=Lato400,700');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgba(204, 230, 255, 0.7), rgba(204, 230, 255, 0.8)) , url(img/fundo2.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-attachment:fixed;
}

#navbar {
  background-color: rgb(0, 0, 77);
  border-bottom: 0.5px solid white;
}

#navbar .navbar-nav {
  vertical-align: middle;
}

#navbar .nav-item {
  width: 130px;
}

#navbar .nav-link {
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#navbar a {
  font-size: 20px;
}

#navbar .navbar-brand {
  padding: 0px;
}

#navbar .navbar-brand img {
  height: 74px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: cyan;
}

#Inicio {
  display: block;
  margin-top: -4px;
  height:89vh;
  position: relative;
}

#Inicio .carousel-inner {
  position: absolute;
  height: 100%;
}

#Inicio .carousel-inner .carousel-item {
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

#Inicio .carousel-caption {
  bottom: 0;
  left: 0;
  z-index:10;
  width: 100%;
  color:#fff;
  display: table;
  height:100%;
  text-align:center;
  display:table;
  padding: 0px;
}

#Inicio .carousel-caption h1 {
  font-weight: bold;
  font-size: 4rem;
  margin:0;
  padding:0;
  vertical-align:middle; /*middle centred*/
  display:table-cell;
}

.carousel-control-prev {
  z-index: 11;
}

.carousel-control-next {
  z-index: 11;
}

.pusher {
  height: 95px;
}

.row1 {
  background-color: rgb(0, 0, 77);
  color: white;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  padding-right: 30px;
  text-align: right;
}

.row2 {
  height: 400px;
  background-color: #dcdcdc;
  position: relative;
  margin-bottom: 5px;
}

.texto h1 {
  text-align: center;
  padding-top: 10px;
}

.texto p {
  padding: 5px 15px;
  text-align: justify;
  font-size: 20px;
}

#slideshowChales {
  padding: 0px;
}

#carouselChales {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Chales {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Chales .carousel-item {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#row2-camping {
  position: relative;
}

#slideshowCamping {
  position: absolute;
  height: 100%;
  padding: 0px;
}

#carouselCamping {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Camping {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Camping .carousel-item {
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#texto-camping {
  position: absolute;
  right: 0px;
}

#slideshowCamping {
  position: absolute;
  left: 0;
}

#row2-aquatico {
  position: relative;
  height: 800px;
}

#texto-aquatico {
  height: 150px;
  padding: 15px;
}

#texto-aquatico p {
  margin: 0;
  padding: 0px;
}

#slideshowAquatico {
  position: absolute;
  height: 650px;
  width: 100%;
  padding: 0px;
  bottom: 5px;
}

#carouselAquatico {
  position: absolute;
  height: 99%;
  width: 99%;
  margin: 0.5%;
}

#carousel-inner-Aquatico {
  position: absolute;
  height: 100%;
  width: 100%;
}

#carousel-inner-Aquatico .carousel-item {
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#nav-tabs {
  padding: 0;
}

.nav-tabs {
  background-color: #dcdcdc;
}

.nav .nav-link {
  background-color: #c7c7c7;
  text-decoration: none;
  color: black;
}

.tab-pane {
  height: 300px;
  background-color: #c7c7c7;
}

#Parque-de-aventuras .row1 {
  font-family: 'Sriracha', cursive;
}

footer {
  background-color: rgb(0, 0, 77);
  height: 200px;
  border-top: 0.5px solid white;
}



@media(max-width:2000px) {

  #row2-aquatico {
    height: 850px;
  }

  #slideshowAquatico {
    height: 700px;
  }

}


@media(max-width:992px) {
  
  #navbar .navbar-brand img {
    height: 44px;
  }

  #navbar .nav-item {
    width: 100%;
  }

  .pusher {
    height: 50px;
  }

  .row2 {
    height: 620px;
  }

  .texto {
    padding: 10px;
    height: 220px;
  }

  .texto h1 {
    font-size: 1.8em;
  }

  .texto p {
    font-size: 1.2em;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 90%;
    margin: 5px 5%;
  }

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 90%;
    margin: 5px 5%;
  }

  #row2-aquatico {
    height: 450px;
  }

  #texto-aquatico {
    height: 150px;
  }

  #slideshowAquatico {
    height: 300px;
    margin: 0 5%;
  }

  #carouselAquatico {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 90%;
  }

  #texto-aventuras {
    height: 200px;
  }

}



@media(max-width:576px) {

  #Inicio {
    height:59vh;
  }

  #Inicio .carousel-caption h1 {
    vertical-align: middle;
    line-height: 2rem;
    font-size: 2rem;
  }

  #navbar .navbar-brand img {
    height: 40px;
  }

  #navbar .nav-item {
    height: 2rem;
  }

  #navbar .navbar a {
    font-size: 1em;
  }

  .pusher {
    height: 56px;
  }

  .row1 {
    background-color: rgb(0, 0, 77);
    color: white;
    font-weight: bold;
    height: 40px;
    line-height: 35px;
    padding-top: 2.5px;
    font-size: 1.2em;
    padding-right: 0px;
    text-align: left;
    border-bottom: solid 0.5px white;
  }

  .row2 {
    height: 500px;
    border: none;
  }

  #carouselChales {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 90%;
    margin: 5px 5%;
  } 

  #carouselCamping {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 90%;
    margin: 5px 5%;
  }

  .texto h1 {
    font-size: 1.4em;
  }

  .texto p {
    font-size: 1.1em;
    padding: 0px;
  }

  .texto {
    padding: 10px;
    height: 200px;
  }

  #row2-aquatico {
    height: 530px;
  }

  #texto-aquatico {
    height: 230px;
  }

  #slideshowAquatico {
    height: 280px;
    width: 90%;
    margin: 5px 5%;
  }

  #carouselAquatico {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 99%;
  }

}


@media(max-width:411px) {
  
  .row2 {
    height: 600px;
  }

  .texto {
    padding: 10px;
    height: 300px;
  }

  .texto p {
    font-size: 1.1em;
    padding: 0px;
  }

  #nav-tabs a {
    font-size: 0.8em;
  }

}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {

  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    margin-top: -20px;
  }


}
