@import url('https://fonts.googleapis.com/css?family=Lato400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: rgb(0, 0, 102);
  border-bottom: 0.5px solid white;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  height: 74px;
}

.navbar a {
  font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: cyan;
}

#inicio {
  z-index: -9;
  border: 0;
  padding: 0;
  width: 100%;
  display: block;
}

#carouselInicio {
  margin-top: 91px;
  height:85vh;
  position: relative;
}

#carouselInicio .carousel-inner {
  position: absolute;
  height: 100%;
}

#carouselInicio .carousel-inner .carousel-item {
  position: absolute;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

#carouselInicio .carousel-caption {
  z-index:10;
  width: 80%;
  height:240px;
  padding: 0px;
  vertical-align: middle;
  color:#fff;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#carouselInicio .carousel-caption h1 {
  line-height: 80px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 3rem;
}

#hospedagens {
  margin-bottom: 60px;
}

.container {
  margin-top: 60px;
}

#row1 {
  background-color: rgb(25,25,112);
  color: white;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  padding-right: 30px;
  text-align: right;
}

.row2 {
  height: 400px;
  background-color: #dcdcdc;
  position: relative;
}

.texto {
  text-align: justify;
  font-size: 24px;
}


.slider {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}
.slider > div {
  z-index: 1;
  /* make sure the width is honored */
  flex-shrink: 0;
  margin:10px;
  width: 380px;
  height: 380px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}